name: Build and Deploy (reusable)

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      job_name:
        required: false
        type: string
        default: Build and Deploy

jobs:
  deploy:
    name: ${{ inputs.job_name }}
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: ${{ inputs.environment }}
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - name: Setup
        uses: ./.github/actions/setup

      - run: node scripts/generate-config.js demo-pages.yaml
        shell: bash

      - run: npm run build
        shell: bash
        env:
          VITE_BASE_URL: /SocialBot/

      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist

      - id: deploy
        uses: actions/deploy-pages@v4
