name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Test, Lint, and Format Check
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        uses: ./.github/actions/setup

      - name: Run tests
        run: npm test

      - name: Run linter
        run: npm run lint

      - name: Check formatting
        run: npm run format:check
