name: Deploy

on:
  push:
    branches:
      - "**"

permissions:
  pages: write
  id-token: write

jobs:
  preview:
    if: github.ref != 'refs/heads/main'
    uses: ./.github/workflows/build-and-deploy.yml
    with:
      environment: Preview
      job_name: Build and Deploy Preview

  production:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/build-and-deploy.yml
    with:
      environment: Production
      job_name: Build and Deploy to Production
