name: Deploy

on:
  push:
    branches:
      - "**"

jobs:
  preview:
    if: github.ref != 'refs/heads/main'
    uses: ./.github/workflows/_build-and-deploy.yml
    with:
      environment: preview
      preview: true

  production:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/_build-and-deploy.yml
    with:
      environment: github-pages
      preview: false
